body 
{
    background-color:rgb(208, 180, 224);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-bottom: 2vw;
    
}

header
{
    background-color: rgb(248, 236, 255);
    list-style-position: inside;
    text-align: center;
    border-radius: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-bottom: 2vw;
    margin-left:calc(-4.5vw);
    margin-right:calc(-2vw);
}

h1
{
    text-align: center;
    color: rgb(125, 101, 148);
    font-family: "Fredoka One", sans-serif;
    font-size: 4vw;
    margin-bottom: 5px;

    text-shadow: 
    1px 1px 0px rgb(208, 186, 219), 
    -1px 1px 0px rgb(208, 186, 219), 
    1px -1px 0px rgb(208, 186, 219),
    -1px -1px 0px rgb(208, 186, 219); 
       
}

h2
{
    text-align: center;
    color: rgb(125, 101, 148);
    font-family: "Fredoka One", sans-serif;
    font-size: 1.75vw;
    margin-top: 0;
    margin-bottom: 0;
}

header>nav>ul
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    list-style: none;
    border-radius: 2vw;
    font-size: 1.75vw;
    margin-left: 7.5vw;
    margin-top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>nav>ul>li
{
    margin: 0 2vw;
}

header>nav>ul>li a
{
    text-decoration: none;
    display: block;
    margin: 1vw;
    padding: 0.5vw 1vw;
    border-radius: 2vw;
    border: 2px solid rgb(125, 101, 148);
    border-radius: 10px;
}

hgroup
{
    background-color: rgb(247, 232, 255);
    color: rgb(124, 103, 145);
    text-align: center;
    margin: 10px 100px;
    border-radius: 2vw;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.25vw;
}

article > footer 
{
    text-align: end;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-bottom: 2vw;
    border-radius: 2vw;
}

.footer-content 
{
    display: flex;
    align-items: center;
    background-color: rgb(247, 232, 255);
    padding: 10px;
    border-radius: 2vw;
    margin: 10px;
    color: rgb(124, 103, 145);
    font-size: 1.5vw;
    gap: 3vw;
}

.footer-content > img 
{
    border-radius: 100%;
    transform: scale(1.25vw);
    width: 50px;
    height: 50px;
}

.footer-content > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-content h4,
.footer-content h5,
.footer-content a {
    margin: 0;
    padding: 0;
}

section, footer>h2
{
    background-color: rgb(244, 227, 255);
    transform: scale(1.25vw);
    padding-top: 1px;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-bottom: 0;
    border-radius: 2vw;
    color: rgb(125, 101, 148);
    font-size: 1.45vw;
}

.newsletter
{
    background-color: rgb(244, 227, 255);
    padding-left: 20px;
    padding-right: 2vw;
    margin-bottom: 2vw;
    padding-top: 1px;
    border-radius: 2vw;
    color: rgb(125, 101, 148);
    font-size: 1.25vw;
}

.newsletter input[type="text"], .newsletter input[type="email"], .newsletter input[type="password"], .newsletter textarea
{
    font-size: 1em;
    padding: 1vw;
    margin-bottom: 1vw;
    width: 100%;
    box-sizing: border-box;
}

.newsletter input[type="radio"], .newsletter input[type="checkbox"]
{
    transform: scale(1.5);
    margin: 1vw;
    vertical-align: middle;
}

select
{
    transform: scale(1.05);
    color: rgb(125, 101, 148);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25vw;
    margin-right: 1vw;
    margin-left: 2.5vw;
    vertical-align: middle;
    margin-bottom: 1vw;
    margin-top: 0.5vw;
    font-size: 2vw;
}

button[type="submit"], input[type="submit"]
{
    transform: scale(1.05);
    margin: 2vw;
}

article>main
{
    background-color: rgb(252, 242, 255);
    color: rgb(124, 103, 145);
    border-radius: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 1.45vw;
}

#main-content
{
    display: flex;
}

#footer-container 
{
    display: flex;
    justify-content: space-between;
    padding: 2vw;
    gap: 2vw;
    background-color: rgb(208, 180, 224);
    margin-left: calc(-2vw);
    margin-right: calc(-2vw);
}

#footer-container section 
{
    display: flex;
    flex-direction: column;
}

#footer-container ul 
{
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer-container ul li a 
{
    text-decoration: none;
    color: rgb(125, 101, 148);;
    font-size: 2vw;
}

#footer-container ul li a:hover 
{
    color: rgb(125, 101, 148);;
}

@media (max-width: 768px) 
{
    #footer-container 
    {
        flex-direction: column;
        align-items: center;
    }

    #footer-container section 
    {
        margin-bottom: 2vw;
    }
}

aside
{
    margin-right: 1.25vw;
    width: 20%;
}


label.question
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

label:not(.question){
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.55vw;
}

aside ul
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer>div>section>nav
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.45vw;
}

footer>div>section>h2
{
    text-indent: 5vw;
}